In [2]:
import numpy as np
import pandas as pd
list=[[1000,25],[280,120],[900,30]]
df = pd.DataFrame(list,index=["store1","store2","store3"],columns=['unit price','number'])
df

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

In [3]:
df['total price']=df['unit price']*df['number']
df

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

In [4]:
df.iloc[df['total price'].argmax()]
# max =0
# index = 0
# for i,price in enumerate(df['total price']):
#     if max<price:
#         index = i
#         max = price
# print(df.iloc[index:index+1,:])

        unit price  number  total price
store2         280     120        33600